@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kumbh+Sans:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.nextjs-static-indicator-toast-icon  {
  display: none !important;
}


@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
